.content {
  width: 100%;
  height: auto;

  &_block{
    display: grid;
    grid-template: 1fr/1fr;
    grid-gap: 25px;

  }

  &_order{
    display: grid;
    grid-template: 1fr/1fr;
    grid-gap: 25px;
    box-shadow: 0 6px 15px rgb(0 0 0 / 15%);
    width: 100%;
    padding: 25px 0 25px 25px;
  }

  &_receiving{
    width: 100%;
    display: grid;
    grid-template:1fr/1fr 1fr;
    grid-gap: 100px;

    &_block{
      box-shadow: 0 6px 15px rgb(0 0 0 / 15%);
      width: 100%;
      padding: 15px 25px;

      form{
        .contact_details{
          display: grid;
          grid-gap: 20px;
        }

        .delivery_details{
          display: grid;
          grid-template: 1fr/1fr 1fr 1fr;
          grid-template-areas:
                  "a a a"
                  "f g h"
                  "l l l";
          grid-gap: 25px;

          .content_form_group__gridCenter{
            grid-area: a;
            display: grid;
            grid-template: 1fr/1fr 1fr;
            grid-gap: 25px;
          }

          .content_formGroup__house{
            grid-area: f;
          }
          .content_formGroup__apartment{
            grid-area: g;
          }
          .content_formGroup__floor{
            grid-area: h;
          }
          .content_formGroup__comment{
            grid-area: l;
          }
        }

      }
    }

  }
}

.image_clear{
  margin-top: 24vh;
  text-align: center;

  img{
    width: 7.864vw;
    height: 9.28vw;
    margin-bottom: 0.7291vw;
  }

  .text_clear{
    font-weight: 400;
    font-size: 1.145vw;
    line-height: 1.77vw;
    color: #212529;
  }
}

.cart_check{
  padding: 50px 70px 70px;
  border: 1px solid #c7c7ba;
  border-left: 0;
  border-right: 0;
  background: #fffaf4;
  border-radius: 5px;

  &__title{
    margin: 0 0 32px;
    font-size: 24px;
    font-weight: 700;
  }

  &_list{
    border-bottom: 2px dotted #cdc9c4;

    li{
      padding: 8px 0 9px;
      overflow: hidden;
      font-size: 16px;
      border-top: 2px dotted #cdc9c4;
    }
  }

  &__left{
    float: left;
    font-weight: 700;
  }

  &__right{
    float: right;
  }

  .orange{
    color: #FF9126;
  }
}