.content{
  width: 100%;
  height: auto;


  .content_grid{
    display: grid;
    grid-template: 1fr/23% 1fr;
    grid-gap: 50px;

    .shops{
      box-shadow: 0 6px 15px rgb(0 0 0 / 15%);
      height: max-content;
      width: 100%;
    }

    .product{
      background-color: antiquewhite;
      padding: 15px;
      height: max-content;

      &_list{
        display: grid;
        grid-template: 1fr/repeat(4,1fr);
        margin-bottom: 0;
        grid-gap: 25px;
      }

      &__item{
        min-height: 31.77vw;
        overflow: hidden;
        background: #FFFFFF;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        border-bottom-left-radius: 0.3125vw;
        border-bottom-right-radius: 0.3125vw;

        &__block{
          display: grid;
          grid-template: 1fr/1fr;
          grid-gap: 10px;
          border-top: 0.052vw solid #E0E8F0;
          border-left: 0.052vw solid #E0E8F0;
          border-right: 0.052vw solid #E0E8F0;
          border-top-left-radius: 0.3125vw;
          border-top-right-radius: 0.3125vw;

          &__image{
            border-top-left-radius: 0.26vw;
            border-top-right-radius: 0.26vw;
          }

          &__image img{
            width: 100%;
            transition: all 0.2s ease;
          }

          &__title{
            font-weight: 500;
            font-size: 1.145vw;
            line-height: 1.354vw;
            color: #212529;
            padding: 0 1.145vw;
            margin-bottom: 0.208vw;
            height: 2.708vw;
          }

          &__weight{
            font-weight: 300;
            font-size: 0.833vw;
            line-height: 1.145vw;
            color: #8C959D;
            padding: 0 1.145vw;
            margin-bottom: 0.416vw;
          }

          &__description{
            font-weight: 300;
            font-size: 0.833vw;
            line-height: 1.145vw;
            padding: 0 1.145vw;
            color: #8C959D;
            margin-bottom: 1.66vw;
          }
        }

        &__add_to_card{
          bottom: 0;
          left: 0;
          width: 100%;
        }

        &_line{
          width: 100%;
          height: 3.541vw;
          display: flex;
          align-items: center;
          white-space: nowrap;

          &__price{
            padding-left: 1.145vw;
            width: 50%;
            display: inline-block;
            font-weight: 500;
            font-size: 1.354vw;
            line-height: 1.77vw;
            color: #212529;
            z-index: 1;
          }

          &_count{
            display: flex;
            justify-content: center;
            align-items: center;

            .cart_minus, .cart_plus{
              width: 30px;
              height: 30px;
              font-size: 1.7em;
              line-height: 27px;
            }

            .cart_input input{
              float:none;
              width: 30px;
              height: 30px;
              font-size: 18px;
            }
          }
        }

        &_btn{
          position: relative;
          z-index: 1;
          height: 2.916vw;
          background-color: #FF9126;
          width: 100%;
          display: flex;
          align-items: center;
          text-align: center;
          transition: all 0.2s ease;
          justify-content: center;
          cursor: pointer;
        }

        &_btn span{
          font-size: 0.833vw;
          line-height: 1.145vw;
          color: #FFFFFF;
        }

      }

    }

  }
}