.content{
  width: 100%;
  height: auto;


  .content_grid{
    display: grid;
    grid-template: 1fr/23% 1fr;
    grid-gap: 50px;

    .shops{
      box-shadow: 0 6px 15px rgb(0 0 0 / 15%);
      height: max-content;
      width: 100%;
    }

    .product{
      background-color: antiquewhite;
      padding: 15px;
      height: max-content;

      &_list{
        display: grid;
        grid-template: 1fr/repeat(4,1fr);
        margin-bottom: 0;
        grid-gap: 25px;
      }

    }

  }
}

.cart_minus, .cart_plus{
  width: 30px;
  height: 30px;
  font-size: 1.7em;
  line-height: 27px;
}

.cart_input input{
  float:none;
  width: 30px;
  height: 30px;
  font-size: 18px;
}