.cart_count input{
  float: left;
  width: 49px;
  height: 49px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  border: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0;
  background: transparent;
  max-width: 50px;
}

.cart_symbol {
  width: 49px;
  height: 49px;
  color: #B4BDC6;
  font-size: 2.1em;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  transition: all 0.3s linear;
  border: 1px solid #d4e0eb;
}

.cart_symbol:hover {
  color: #33b3ff;
  cursor: pointer;
}
